In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./data/heart_2022_with_nans.csv")

In [4]:
df.head(10)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,NaN,No,...,NaN,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,No,6.0,NaN,No,...,1.60,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,Yes,5.0,NaN,No,...,1.57,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,No,...,1.65,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,NaN,No,...,1.57,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No
5,Alabama,Male,Poor,1.0,0.0,Within past year (anytime less than 12 months ...,No,7.0,NaN,Yes,...,1.80,84.82,26.08,No,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No
6,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,No,...,1.65,62.60,22.96,Yes,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
7,Alabama,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,NaN,No,...,1.63,73.48,27.81,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
8,Alabama,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,NaN,No,...,1.70,NaN,NaN,No,Yes,No,No,"Yes, received tetanus shot but not sure what type",No,No
9,Alabama,Female,Good,1.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,No,...,1.68,81.65,29.05,Yes,NaN,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 40 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      445132 non-null  object
 1   Sex                        445132 non-null  object
 2   GeneralHealth              443934 non-null  object
 3   PhysicalHealthDays         434205 non-null  float64
 4   MentalHealthDays           436065 non-null  float64
 5   LastCheckupTime            436824 non-null  object
 6   PhysicalActivities         444039 non-null  object
 7   SleepHours                 439679 non-null  float64
 8   RemovedTeeth               433772 non-null  object
 9   HadHeartAttack             442067 non-null  object
 10  HadAngina                  440727 non-null  object
 11  HadStroke                  443575 non-null  object
 12  HadAsthma                  443359 non-null  object
 13  HadSkinCancer              441989 non-null  object
 14  HadCOPD                    442913 non-null  object
 15  HadDepressiveDisorder      442320 non-null  object
 16  HadKidneyDisease           443206 non-null  object
 17  HadArthritis               442499 non-null  object
 18  HadDiabetes                444045 non-null  object
 19  DeafOrHardOfHearing        424485 non-null  object
 20  BlindOrVisionDifficulty    423568 non-null  object
 21  DifficultyConcentrating    420892 non-null  object
 22  DifficultyWalking          421120 non-null  object
 23  DifficultyDressingBathing  421217 non-null  object
 24  DifficultyErrands          419476 non-null  object
 25  SmokerStatus               409670 non-null  object
 26  ECigaretteUsage            409472 non-null  object
 27  ChestScan                  389086 non-null  object
 28  RaceEthnicityCategory      431075 non-null  object
 29  AgeCategory                436053 non-null  object
 30  HeightInMeters             416480 non-null  float64
 31  WeightInKilograms          403054 non-null  float64
 32  BMI                        396326 non-null  float64
 33  AlcoholDrinkers            398558 non-null  object
 34  HIVTesting                 379005 non-null  object
 35  FluVaxLast12               398011 non-null  object
 36  PneumoVaxEver              368092 non-null  object
 37  TetanusLast10Tdap          362616 non-null  object
 38  HighRiskLastYear           394509 non-null  object
 39  CovidPos                   394368 non-null  object
dtypes: float64(6), object(34)
memory usage: 135.8+ MB

In [6]:
df.columns

Index(['State', 'Sex', 'GeneralHealth', 'PhysicalHealthDays',
       'MentalHealthDays', 'LastCheckupTime', 'PhysicalActivities',
       'SleepHours', 'RemovedTeeth', 'HadHeartAttack', 'HadAngina',
       'HadStroke', 'HadAsthma', 'HadSkinCancer', 'HadCOPD',
       'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis',
       'HadDiabetes', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty',
       'DifficultyConcentrating', 'DifficultyWalking',
       'DifficultyDressingBathing', 'DifficultyErrands', 'SmokerStatus',
       'ECigaretteUsage', 'ChestScan', 'RaceEthnicityCategory', 'AgeCategory',
       'HeightInMeters', 'WeightInKilograms', 'BMI', 'AlcoholDrinkers',
       'HIVTesting', 'FluVaxLast12', 'PneumoVaxEver', 'TetanusLast10Tdap',
       'HighRiskLastYear', 'CovidPos'],
      dtype='object')

In [7]:
df["State"].value_counts()

State
Washington              26152
New York                17800
Minnesota               16821
Ohio                    16487
Maryland                16418
Texas                   14245
Florida                 13393
Wisconsin               11276
Kansas                  11247
Massachusetts           11029
California              10952
Maine                   10646
Indiana                 10466
Virginia                10417
Arizona                 10185
Michigan                10058
South Carolina          10037
Utah                     9826
Connecticut              9784
Colorado                 9365
Georgia                  9236
Iowa                     8949
Vermont                  8811
New Jersey               8209
Hawaii                   7747
Nebraska                 7473
Missouri                 7438
South Dakota             7424
Montana                  7048
New Hampshire            6757
Idaho                    6280
Rhode Island             5893
Alaska                   5865
Oklahoma                 5775
Oregon                   5756
Louisiana                5629
Puerto Rico              5509
Arkansas                 5309
Tennessee                5266
West Virginia            4981
New Mexico               4758
Pennsylvania             4582
Alabama                  4506
North Carolina           4505
Mississippi              4239
North Dakota             4153
Wyoming                  4142
Illinois                 4056
Kentucky                 4023
Delaware                 3987
District of Columbia     3237
Nevada                   3188
Guam                     2266
Virgin Islands           1531
Name: count, dtype: int64

In [8]:
df["Sex"].value_counts()

Sex
Female    235893
Male      209239
Name: count, dtype: int64

In [9]:
df["GeneralHealth"].value_counts()

GeneralHealth
Very good    148444
Good         143598
Excellent     71878
Fair          60273
Poor          19741
Name: count, dtype: int64

In [10]:
df["PhysicalHealthDays"].value_counts()

PhysicalHealthDays
0.0     267819
30.0     33082
2.0      25256
1.0      17250
3.0      15948
5.0      15315
10.0     10589
7.0       9348
15.0      8787
4.0       8462
20.0      5421
14.0      5029
6.0       2538
25.0      2181
8.0       1761
12.0      1111
21.0      1038
28.0       751
9.0        411
29.0       365
18.0       271
16.0       255
27.0       188
17.0       185
13.0       162
11.0       161
22.0       140
24.0       125
26.0       109
23.0        99
19.0        48
Name: count, dtype: int64

In [11]:
df["MentalHealthDays"].value_counts()

MentalHealthDays
0.0     265229
30.0     26990
2.0      23785
5.0      19951
10.0     15414
3.0      15345
15.0     14519
1.0      14409
20.0      9150
4.0       7943
7.0       7844
25.0      3078
14.0      2871
6.0       2305
8.0       1749
12.0      1259
28.0       910
21.0       549
29.0       502
9.0        322
18.0       319
16.0       280
17.0       244
27.0       241
22.0       193
13.0       169
24.0       124
11.0       121
26.0       106
23.0        97
19.0        47
Name: count, dtype: int64

In [12]:
df["LastCheckupTime"].value_counts()

LastCheckupTime
Within past year (anytime less than 12 months ago)         350944
Within past 2 years (1 year but less than 2 years ago)      41919
Within past 5 years (2 years but less than 5 years ago)     24882
5 or more years ago                                         19079
Name: count, dtype: int64

In [13]:
df["PhysicalActivities"].value_counts()

PhysicalActivities
Yes    337559
No     106480
Name: count, dtype: int64

In [14]:
df["SleepHours"].value_counts()

SleepHours
7.0     132927
8.0     125442
6.0      95880
5.0      30122
9.0      21210
4.0      12433
10.0     10459
3.0       3260
12.0      3004
2.0       1549
1.0       1154
11.0       686
16.0       329
15.0       317
14.0       295
18.0       168
13.0       165
20.0       143
24.0        52
17.0        27
22.0        19
23.0        18
19.0        16
21.0         4
Name: count, dtype: int64

In [15]:
df["RemovedTeeth"].value_counts()

RemovedTeeth
None of them              233455
1 to 5                    129294
6 or more, but not all     45570
All                        25453
Name: count, dtype: int64

In [16]:
df["HadHeartAttack"].value_counts()

HadHeartAttack
No     416959
Yes     25108
Name: count, dtype: int64

In [17]:
df["HadAngina"].value_counts()

HadAngina
No     414176
Yes     26551
Name: count, dtype: int64

In [18]:
df["HadStroke"].value_counts()

HadStroke
No     424336
Yes     19239
Name: count, dtype: int64

In [19]:
df["HadAsthma"].value_counts()

HadAsthma
No     376665
Yes     66694
Name: count, dtype: int64

In [20]:
df["HadSkinCancer"].value_counts()

HadSkinCancer
No     406504
Yes     35485
Name: count, dtype: int64

In [21]:
df["HadCOPD"].value_counts()

HadCOPD
No     407257
Yes     35656
Name: count, dtype: int64

In [22]:
df["HadDepressiveDisorder"].value_counts()

HadDepressiveDisorder
No     350910
Yes     91410
Name: count, dtype: int64

In [23]:
df["HadKidneyDisease"].value_counts()

HadKidneyDisease
No     422891
Yes     20315
Name: count, dtype: int64

In [24]:
df["HadArthritis"].value_counts()

HadArthritis
No     291351
Yes    151148
Name: count, dtype: int64

In [25]:
df["HadDiabetes"].value_counts()

HadDiabetes
No                                         368722
Yes                                         61158
No, pre-diabetes or borderline diabetes     10329
Yes, but only during pregnancy (female)      3836
Name: count, dtype: int64

In [26]:
df["DeafOrHardOfHearing"].value_counts()

DeafOrHardOfHearing
No     385539
Yes     38946
Name: count, dtype: int64

In [27]:
df["BlindOrVisionDifficulty"].value_counts()

BlindOrVisionDifficulty
No     399910
Yes     23658
Name: count, dtype: int64

In [28]:
df["DifficultyConcentrating"].value_counts()

DifficultyConcentrating
No     370792
Yes     50100
Name: count, dtype: int64

In [29]:
df["DifficultyWalking"].value_counts()

DifficultyWalking
No     353039
Yes     68081
Name: count, dtype: int64

In [30]:
df["DifficultyDressingBathing"].value_counts()

DifficultyDressingBathing
No     404404
Yes     16813
Name: count, dtype: int64

In [31]:
df["DifficultyErrands"].value_counts()

DifficultyErrands
No     387029
Yes     32447
Name: count, dtype: int64

In [32]:
df["SmokerStatus"].value_counts()

SmokerStatus
Never smoked                             245955
Former smoker                            113774
Current smoker - now smokes every day     36003
Current smoker - now smokes some days     13938
Name: count, dtype: int64

In [33]:
df["ECigaretteUsage"].value_counts()

ECigaretteUsage
Never used e-cigarettes in my entire life    311988
Not at all (right now)                        75368
Use them some days                            11734
Use them every day                            10382
Name: count, dtype: int64

In [34]:
df["ChestScan"].value_counts()

ChestScan
No     223221
Yes    165865
Name: count, dtype: int64

In [35]:
df["RaceEthnicityCategory"].value_counts()

RaceEthnicityCategory
White only, Non-Hispanic         320421
Hispanic                          42917
Black only, Non-Hispanic          35446
Other race only, Non-Hispanic     22713
Multiracial, Non-Hispanic          9578
Name: count, dtype: int64

In [36]:
df["AgeCategory"].value_counts()

AgeCategory
Age 65 to 69       47099
Age 60 to 64       44511
Age 70 to 74       43472
Age 55 to 59       36821
Age 80 or older    36251
Age 50 to 54       33644
Age 75 to 79       32518
Age 40 to 44       29942
Age 45 to 49       28531
Age 35 to 39       28526
Age 18 to 24       26941
Age 30 to 34       25807
Age 25 to 29       21990
Name: count, dtype: int64

In [37]:
df["HeightInMeters"].value_counts()

HeightInMeters
1.68    36782
1.63    35622
1.70    34038
1.65    32785
1.78    32038
        ...
1.33        1
0.99        1
2.02        1
1.94        1
0.95        1
Name: count, Length: 109, dtype: int64

In [38]:
df["WeightInKilograms"].value_counts()

WeightInKilograms
90.72     21311
81.65     19709
68.04     17595
72.57     17177
77.11     15979
          ...
281.00        1
164.00        1
232.69        1
176.00        1
189.00        1
Name: count, Length: 599, dtype: int64

In [39]:
df["BMI"].value_counts()

BMI
26.63    4262
27.46    3277
24.41    3188
27.44    3128
27.12    3123
         ...
80.63       1
60.90       1
46.75       1
62.69       1
48.63       1
Name: count, Length: 3985, dtype: int64

In [40]:
df["AlcoholDrinkers"].value_counts()

AlcoholDrinkers
Yes    210891
No     187667
Name: count, dtype: int64

In [41]:
df["HIVTesting"].value_counts()

HIVTesting
No     249919
Yes    129086
Name: count, dtype: int64

In [42]:
df["FluVaxLast12"].value_counts()

FluVaxLast12
Yes    209256
No     188755
Name: count, dtype: int64

In [43]:
df["PneumoVaxEver"].value_counts()

PneumoVaxEver
No     215604
Yes    152488
Name: count, dtype: int64

In [44]:
df["TetanusLast10Tdap"].value_counts()

TetanusLast10Tdap
No, did not receive any tetanus shot in the past 10 years    121493
Yes, received tetanus shot but not sure what type            113725
Yes, received Tdap                                            99943
Yes, received tetanus shot, but not Tdap                      27455
Name: count, dtype: int64

In [45]:
df["HighRiskLastYear"].value_counts()

HighRiskLastYear
No     377324
Yes     17185
Name: count, dtype: int64

In [46]:
df["CovidPos"].value_counts()

CovidPos
No                                                               270055
Yes                                                              110877
Tested positive using home test without a health professional     13436
Name: count, dtype: int64

In [47]:
# Imputamos los NaN de columnas categóricas con la moda

categorical_columns = [
    "Sex",
    "State",
    "RaceEthnicityCategory",
    "SmokerStatus",
    "ECigaretteUsage",
    "RemovedTeeth",
    "GeneralHealth",
    "LastCheckupTime",
    "TetanusLast10Tdap",
    "AgeCategory"
]

for col in categorical_columns:
    moda = df[col].mode(dropna=True)

    if not moda.empty:
        df[col] = df[col].fillna(moda.iloc[0])

In [48]:
# Imputamos los de las columnas binarias

binary_columns = binary_columns = [
    "PhysicalActivities",
    "HadHeartAttack",
    "HadAngina",
    "HadStroke",
    "HadAsthma",
    "HadSkinCancer",
    "HadCOPD",
    "HadDepressiveDisorder",
    "HadKidneyDisease",
    "HadArthritis",
    "DeafOrHardOfHearing",
    "BlindOrVisionDifficulty",
    "DifficultyConcentrating",
    "DifficultyWalking",
    "DifficultyDressingBathing",
    "DifficultyErrands",
    "ChestScan",
    "AlcoholDrinkers",
    "HIVTesting",
    "FluVaxLast12",
    "PneumoVaxEver",
    "HighRiskLastYear"
]

for col in binary_columns:
    df[col] = df[col].fillna("No")

In [49]:
# Imputamos los de las columnas numéricas

numeric_columns = [
    "SleepHours",
    "WeightInKilograms",
    "HeightInMeters",
    "BMI",
    "PhysicalHealthDays",
    "MentalHealthDays"
]

for col in numeric_columns:
    mediana = df[col].median()
    df[col] = df[col].fillna(mediana)

In [50]:
df.isna().sum()

State                            0
Sex                              0
GeneralHealth                    0
PhysicalHealthDays               0
MentalHealthDays                 0
LastCheckupTime                  0
PhysicalActivities               0
SleepHours                       0
RemovedTeeth                     0
HadHeartAttack                   0
HadAngina                        0
HadStroke                        0
HadAsthma                        0
HadSkinCancer                    0
HadCOPD                          0
HadDepressiveDisorder            0
HadKidneyDisease                 0
HadArthritis                     0
HadDiabetes                   1087
DeafOrHardOfHearing              0
BlindOrVisionDifficulty          0
DifficultyConcentrating          0
DifficultyWalking                0
DifficultyDressingBathing        0
DifficultyErrands                0
SmokerStatus                     0
ECigaretteUsage                  0
ChestScan                        0
RaceEthnicityCategory            0
AgeCategory                      0
HeightInMeters                   0
WeightInKilograms                0
BMI                              0
AlcoholDrinkers                  0
HIVTesting                       0
FluVaxLast12                     0
PneumoVaxEver                    0
TetanusLast10Tdap                0
HighRiskLastYear                 0
CovidPos                     50764
dtype: int64

In [53]:
# Convertimos Sex a tipo category
# Esto no cambia los valores, solo le dice a pandas que es una variable categórica con valores fijos

df["Sex"] = df["Sex"].astype("category")

In [54]:
# Lo mismo con State

df["State"] = df["State"].astype("category")

In [55]:
# Creamos una columna binaria adicional para HadDiabetes:
# 1 = Tiene diabetes (incluye embarazo)
# 0 = No tiene diabetes

df["HadDiabetes_binary"] = np.where(df["HadDiabetes"].isin(["Yes", "Yes, but only during pregnancy (female)"]), 1, 0)

# El np.where es bastante curioso e interesante porque funciona como un True/False. Me lo apunto para comentárselos en la próxima videocall

In [56]:
# Convertimos las columnas Yes/No a 1/0

yes_no_columns = ["PhysicalActivities",
    "HadHeartAttack",
    "HadAngina",
    "HadStroke",
    "HadSkinCancer",
    "HadAsthma",
    "HadCOPD",
    "HadDepressiveDisorder",
    "HadKidneyDisease",
    "HadArthritis",
    "DeafOrHardOfHearing",
    "BlindOrVisionDifficulty",
    "DifficultyConcentrating",
    "DifficultyWalking",
    "DifficultyDressingBathing",
    "DifficultyErrands",
    "ChestScan",
    "AlcoholDrinkers",
    "HIVTesting",
    "FluVaxLast12",
    "PneumoVaxEver",
    "HighRiskLastYear"]

for col in yes_no_columns:
    df[col] = df[col].map({"Yes": 1, "No": 0})

In [57]:
# Convertimos GeneralHealth a numérica ordinal (existe un orden lógico)

df["GeneralHealth"] = df["GeneralHealth"].map({
    "Poor": 1, 
    "Fair": 2, 
    "Good": 3, 
    "Very good": 4, 
    "Excellent": 5})

In [58]:
# Lo mismo con LastCheckupTime

df["LastCheckupTime"] = df["LastCheckupTime"].map({
    "Within past year (anytime less than 12 months ago)": 1,
    "Within past 2 years (1 year but less than 2 years ago)": 2,
    "Within past 5 years (2 years but less than 5 years ago)": 3,
    "5 or more years ago": 4
})

In [59]:
# Lo mismo con RemovedTeeth

df["RemovedTeeth"] = df["RemovedTeeth"].map({
    "None of them": 0,
    "1 to 5": 1,
    "6 or more, but not all": 2,
    "All": 3
})

In [60]:
# Lo mismo con SmokerStatus

df["SmokerStatus"] = df["SmokerStatus"].map({
    "Never smoked": 0,
    "Former smoker": 1,
    "Current smoker - now smokes some days": 2,
    "Current smoker - now smokes every day": 3
})

In [61]:
# Lo mismo con ECigaretteUsage

df["ECigaretteUsage"] = df["ECigaretteUsage"].map({
    "Never used e-cigarettes in my entire life": 0,
    "Not at all (right now)": 1,
    "Use them some days": 2,
    "Use them every day": 3
})

In [62]:
# Marcamos valores fuera del rango "típico" como missing para HeightInMeters

df.loc[
    (df["HeightInMeters"] < 1.3) | (df["HeightInMeters"] > 2.3),
    "HeightInMeters"
] = np.nan

In [63]:
# Lo mismo con WeightInKilograms

df.loc[
    (df["WeightInKilograms"] < 30) | (df["WeightInKilograms"] > 250),
    "WeightInKilograms"
] = np.nan

In [64]:
# Creamos una columna categórica adicional para BMI

def bmi_category(bmi):
    if pd.isna(bmi):
        return np.nan
    elif bmi < 18.5:
        return "Underweight"
    elif bmi < 25:
        return "Normal"
    elif bmi < 30:
        return "Overweight"
    else:
        return "Obese"
    
df["BMI_category"] = df["BMI"].apply(bmi_category) 

# Una manera nueva y bastante curiosa e interesante de "llamar" a una función
# En lugar de llamarla y "meter" la columa como argumento, mencionamos la columna y le "enchufamos" la función

In [65]:
# Unimos todos los positivos en una columna binaria adicional para CovidPos

df["CovidPos_binary"] = np.where(df["CovidPos"].isin(["Yes", "Tested positive using home test without a health professional"]), 1, 0)

In [66]:
df.isna().sum()

# HadDiabetes tiene 1,087 nulos. 
# Pero como creamos la columna HadDiabetes_binary y en esa nueva columna ya no hay nulos, podemos usarla sin problema.

# HeightInMeters tiene 284 nulos. 
# Esto pasa porque los valores fuera del rango (1.3–2.3 m) los tratamos como missing (NaN).
# Esos NaN no son errores, solo datos fuera de ese rango "típico".
# Más adelante, tendremos que decidir, según el análisis, si dejarlos como NaN o si imputar la mediana.

# WeightInKilograms tiene 106 nulos.
# Lo mismo que con HeightInMeters.

# CovidPos tiene 50,764 nulos.
# Pero como creamos la columna CovidPos_binary, pasa lo mismo que con HadDiabetes.

State                            0
Sex                              0
GeneralHealth                    0
PhysicalHealthDays               0
MentalHealthDays                 0
LastCheckupTime                  0
PhysicalActivities               0
SleepHours                       0
RemovedTeeth                     0
HadHeartAttack                   0
HadAngina                        0
HadStroke                        0
HadAsthma                        0
HadSkinCancer                    0
HadCOPD                          0
HadDepressiveDisorder            0
HadKidneyDisease                 0
HadArthritis                     0
HadDiabetes                   1087
DeafOrHardOfHearing              0
BlindOrVisionDifficulty          0
DifficultyConcentrating          0
DifficultyWalking                0
DifficultyDressingBathing        0
DifficultyErrands                0
SmokerStatus                     0
ECigaretteUsage                  0
ChestScan                        0
RaceEthnicityCategory            0
AgeCategory                      0
HeightInMeters                 284
WeightInKilograms              106
BMI                              0
AlcoholDrinkers                  0
HIVTesting                       0
FluVaxLast12                     0
PneumoVaxEver                    0
TetanusLast10Tdap                0
HighRiskLastYear                 0
CovidPos                     50764
HadDiabetes_binary               0
BMI_category                     0
CovidPos_binary                  0
dtype: int64

In [67]:
df.to_csv("./data/heart_2022_cleaned.csv", index = False)